<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="ToLifeCloudLib" value="https://pkgs.dev.azure.com/ToLife/39e653b3-320a-474c-a70c-7db81fab57f9/_packaging/ToLifeCloudLib/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<ToLifeCloudLib>
			<add key="Username" value="victor.gomes@tolife.com.br" />
			<add key="ClearTextPassword" value="vmqqfqtg5s2w57uau63xftnxr675njkgy6a2e7lukcikahwk2kxq" />
		</ToLifeCloudLib>
	</packageSourceCredentials>
</configuration>